<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin info</title>
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3" href="#">
        <b th:utext="${user.getEmail()}"></b>
        <lable>with roles:</lable>
        <lable th:text="${user.getAuthorities()}"></lable>
    </a>
</header>
<h3>Admin info</h3>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
    </tr>
    </tbody>
    <br>
    <a href="/admin/users">Users Info</a>
</table>
<br>
<p><a href="/logout">Logout</a></p>
</body>
</html>