<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form th:action="@{/admin/users/create}" th:object="${user}" method="post">
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">

    <label for="surname">surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="surname">

    <label for="email">email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="email">

    <label for="password">password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="password">

    <input type="submit" value="Create User">
</form>
<br>
<p><a href="/logout">Logout</a></p>
</body>
</html>